aliyun-python-sdk-core==2.13.5
aliyun-python-sdk-vod==2.15.5
attrs==19.1.0
certifi==2019.6.16
chardet==3.0.4
codecov==2.0.15
coverage==4.5.3
idna==2.8
Jinja2==2.10
jmespath==0.9.4
kindle-maker==0.0.4
MarkupSafe==1.1.1
more-itertools==7.0.0
pluggy==0.6.0
py==1.8.0
pytest==3.5.1
pytest-cov==2.5.1
requests==2.22.0
six==1.12.0
urllib3==1.25.3
