<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Table of Contents</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <h1><b>TABLE OF CONTENTS</b></h1>
    <br/>

    {% for flp in first_level_post_list %}
        <h3><b><a href="{{ flp.title }}.html">{{ flp.title }}</a></b></h3>
        <ul>
            {% for nlp in flp.next_level_post_list %}
                <li><a href="{{ nlp.title }}.html">{{ nlp.title }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
</body>
</html>
